.full-height-centered-container {
  height: calc(100vh - 163px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 30px auto 120px auto;
  padding: 0 25px;
}

// Responsive
@media only screen and (min-width : 768px) {
  .signup-login-container {
    width: 500px;
    margin: 40px auto;
  }

  .container {
  margin: 30px auto 120px auto;
  min-height: calc(100vh - 100px);
  }

  .full-height-centered-container {
    height: 100vh;
  }
}
