@import "config/colors";

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background-color: white;
  color: black;
}


a, a:hover {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}


h2 {
  font-size: 22px;
  font-weight: medium;
}

p {
  font-size: 18px;
}

img {
  max-width: 100%;
}

.main-title {
  text-align: center;
}

.paragraph-title {
  font-weight: bold;
}

mark {
  margin-right: -12px;
  padding: 6px 8px;
  background-color: $yellow;
}

.alert-danger {
  display: none;
}


